:root {
  --color-primary-50: var(--color-orange-50);
  --color-primary-100: var(--color-orange-100);
  --color-primary-200: var(--color-orange-200);
  --color-primary-300: var(--color-orange-300);
  --color-primary-400: var(--color-orange-400);
  --color-primary-500: var(--color-orange-500);
  --color-primary-600: var(--color-orange-600);
  --color-primary-700: var(--color-orange-700);
  --color-primary-800: var(--color-orange-800);
  --color-primary-900: var(--color-orange-900);
  --color-primary-950: var(--color-orange-950);

  --color-secondary-50: var(--color-slate-50);
  --color-secondary-100: var(--color-slate-100);
  --color-secondary-200: var(--color-slate-200);
  --color-secondary-300: var(--color-slate-300);
  --color-secondary-400: var(--color-slate-400);
  --color-secondary-500: var(--color-slate-500);
  --color-secondary-600: var(--color-slate-600);
  --color-secondary-700: var(--color-slate-700);
  --color-secondary-800: var(--color-slate-800);
  --color-secondary-900: var(--color-slate-900);
  --color-secondary-950: var(--color-slate-950);
}
